body
{
	margin:0px auto;
	font-family:Cambria;
	font-size:13px;
	width:1000px;
	height:2550px;

}

#logo
{
	float:left;
	padding: 0px 0px;
}

#wrapper
{
	 margin-top:30px;
	
}

#menu
{
	
	width:725px;
	float:left;
	
	/*padding */
	
}

header
{
	width:100%;
	float:left;

}


header ul
{
	width:750px;
	float:left;
	margin:0px;
	padding:0px 20px ;   /* RELLENO ENTRE LAS LETRAS*/

	list-style:none;
	
	
}

header ul li
{
	float:left;
	
	padding:0px 4px 0px 5px;
	
	border-right:solid 1px #878787;

	
}

header ul li a /* borde y espacio entre los elementos dentro del cuadro MENU */
{
	
	display:inline-block;

	color:#878787;

	text-decoration:none;
	font-weight:bold;
	padding:23px 18px 18px 2px;

	font-size:17px;

}

header ul li a:hover  /*REGLA PARA ENLACES - SOMBREADO EN LOS MENUS*/
{
	color:#000;
	font:bold;
	
	/*text-decoration: underline;*/
}

a:active 
{
     position: relative;
     top: 2px;
	 
}

#Citas
{
	width:105px;
	height:60px;
	float:left;
	background:#007FFF;
	text-align:center;
}


#slide
{
	width:960px;
	height:500px;
	
	padding:20px 0px;
}

section
{

	float:left;
	padding:20px 0px;
	box-sizing:border-box;
	
	
}

#contenido
{
	width:930px;
	height:550px;
	float:right;

    margin-right:60px;
	margin-bottom:45px;
}

#dientes
{
	 margin-left:60px;
	 margin-top:10px;

}

.diente1
{
	width:210px;
	height:395px;
	float:left;
	
	margin-top:20px;

    margin-left:75px;
	
	padding:15px 15px 0px 15px;
	border:dashed;
	
	
}

.diente2
{
	width:210px;
	height:380px;
	float:left;
	
	margin-top:20px;
    border:dashed;

    margin-left:20px;
	padding:15px 15px;
}


.diente3
{
	width:210px;
	height:380px;
	float:left;
	
	border:dashed;
	
	margin-top:20px;

    margin-left:20px;
	padding:15px 15px;
}


h1
{
	font-size:20px;
	color:#4DC0EA;
	

}

h2
{
	margin-left:180px;
	
	font-size:23px;
	color:#007FFF;
}


h3
{
	margin-left:45px;
	float:left;
	width:100%;
	
}

h4
{
	font-size:17px;
}


h5
{
	font-size:17px;
	 color:#FFFFFF;
}


#izquierda
{
	width:600px;
	height:900px;
	float:left;
	
	margin-rigth:30px;
	
	padding:0px 0px 5px 5px;
	
}

#linea
{
	width:565px;
	border-bottom:solid 1px #4DC0EA;

}



#derecha
{
	margin-top:23px;
	
	float:left;
	
	margin-left:45px;
	
	margin-bottom:100px;
	
}


fieldset
{
	width:300px;
	height:830px;

	border: solid 2px #007FFF;
	
	
}

legend
{
	width:70px;
	height:auto;
	
	margin-left:10px;
	
	background:#FFFFFF;
	
	padding:0px 10px ;
	
	
	font-size:17px;
	color:#007FFF;
	
	font-weight:bold;
}

#Redaccion
{
	width:250px;
	height:560px;
	float:left;
	
	margin-left:22px;
	
}


footer
{
	margin-top:10px;
	float:left;
	
	width:960px;
	height:360px;
	
	background:#4DC0EA;
	margin-bottom:20px;
	
}


#pie1
{
	width:170px;
	height:250px;
	
	float:left;

    color:#878787;
     
    margin-top:15px;
    margin-left:30px;	
	
	padding:0px 40px 0px 30px;
}

#pie2
{
	width:170px;
	height:250px;
	
	float:left;

    color:#878787;
     
    margin-top:15px;
    margin-left:20px;
	
	padding:0px 20px 0px 30px;	
}

#pie3
{
	width:170px;
	height:250px;
	
	float:left;

    color:#878787;
     
    margin-top:15px;
    margin-left:20px;
	
	padding:0px 4px 0px 20px;		
}

#pie4
{
	width:170px;
	height:250px;
	
	float:left;

    color:#878787;
     
    margin-top:15px;
	
	padding:0px 5px 0px 20px;	
   
}

#final
{
	float:left;
	
	width:960px;
	height:110px;
	
	
}

#final a img 
{
   padding:0px 10px;

}


#final img:hover
{
-moz-transition: all 0.5s ease-in-out;
-webkit-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);
-o-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);

}